.cart-container {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.cart-item-image img {
    width: 50px; /* Adjusted width for thumbnail */
    height: auto; /* Adjust height accordingly */
    object-fit: cover;
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.quantity-control button {
    padding: 5px 10px;
    margin: 0 5px;
    background: #ccc;
    border: none;
    cursor: pointer;
}

.remove-item {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.size-selector {
    padding: 5px 10px;
    border: 1px solid gray;
    margin-right: 5px;
    cursor: pointer;
}

.selected {
    border-color: black;
    background-color: #ddd;
}

/* src/Pages/CSS/Cart.css */
.cart-container {
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item-image img {
    width: 100px;
    height: 100px;
  }
  
  .cart-item-details {
    flex: 1;
    padding: 0 20px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-control button {
    margin: 0 5px;
  }
  
  .remove-item {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .total-amount {
    text-align: right;
    margin-top: 20px;
  }
  
  .total-amount h2 {
    font-size: 1.5em;
  }
  
  button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
  

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  